<!-- templates/room.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Conference Room</title>
</head>
<body>
    <h1>Welcome to the Video Conference Room</h1>
    {{jwt}}
    <div id="meet" style="width: 100%;"></div>
    <script src='https://8x8.vc/external_api.js'></script>
    <script type="text/javascript">
        let api;
        let jwt="{{jwt|tojson}}"
        const initIframeAPI = () => {
          const domain = '8x8.vc';
          const options = {
            roomName: 'vpaas-magic-cookie-06dfe06f9743475abdab4c2e451d3894/004a28',
            jwt: jwt,
            width: 700,
            height: 700,
            parentNode: document.querySelector('#meet')
          };
          api = new JitsiMeetExternalAPI(domain, options);
        }
      
        window.onload = () => {
          initIframeAPI();
        }
      </script>
</body>
</html>
